In [ ]:
import pandas as pd
from pathlib import Path
import os
import glob

:

In [2]:
# Display all of the columns
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', 60)

In [3]:
# Disable warnings
import warnings
warnings.filterwarnings('ignore')

In [4]:
path = os.getcwd()
csv_files = glob.glob('Data/2023_citibike/*.csv')

citibike_df = pd.DataFrame()

n=0

for csv_file in csv_files:
    n+=1    
    df = pd.read_csv(csv_file, low_memory=False)
    citibike_df = pd.concat([citibike_df, df])
    print(n, csv_file)
    

citibike_df.head()

1 Data/2023_citibike\202301-citibike-tripdata_1.csv
2 Data/2023_citibike\202301-citibike-tripdata_2.csv
3 Data/2023_citibike\202302-citibike-tripdata_1.csv
4 Data/2023_citibike\202302-citibike-tripdata_2.csv
5 Data/2023_citibike\202303-citibike-tripdata_1.csv
6 Data/2023_citibike\202303-citibike-tripdata_2.csv
7 Data/2023_citibike\202303-citibike-tripdata_3.csv
8 Data/2023_citibike\202304-citibike-tripdata_1.csv
9 Data/2023_citibike\202304-citibike-tripdata_2.csv
10 Data/2023_citibike\202304-citibike-tripdata_3.csv
11 Data/2023_citibike\202305-citibike-tripdata_1.csv
12 Data/2023_citibike\202305-citibike-tripdata_2.csv
13 Data/2023_citibike\202305-citibike-tripdata_3.csv
14 Data/2023_citibike\202305-citibike-tripdata_4.csv
15 Data/2023_citibike\202306-citibike-tripdata_1.csv
16 Data/2023_citibike\202306-citibike-tripdata_2.csv
17 Data/2023_citibike\202306-citibike-tripdata_3.csv
18 Data/2023_citibike\202306-citibike-tripdata_4.csv
19 Data/2023_citibike\202307-citibike-tripdata_1.csv
20 Data/2023_citibike\202307-citibike-tripdata_2.csv
21 Data/2023_citibike\202307-citibike-tripdata_3.csv
22 Data/2023_citibike\202307-citibike-tripdata_4.csv
23 Data/2023_citibike\202308-citibike-tripdata_1.csv
24 Data/2023_citibike\202308-citibike-tripdata_2.csv
25 Data/2023_citibike\202308-citibike-tripdata_3.csv
26 Data/2023_citibike\202308-citibike-tripdata_4.csv
27 Data/2023_citibike\202309-citibike-tripdata_1.csv
28 Data/2023_citibike\202309-citibike-tripdata_2.csv
29 Data/2023_citibike\202309-citibike-tripdata_3.csv
30 Data/2023_citibike\202309-citibike-tripdata_4.csv
31 Data/2023_citibike\202310-citibike-tripdata_1.csv
32 Data/2023_citibike\202310-citibike-tripdata_2.csv
33 Data/2023_citibike\202310-citibike-tripdata_3.csv
34 Data/2023_citibike\202310-citibike-tripdata_4.csv
35 Data/2023_citibike\202311-citibike-tripdata_1.csv
36 Data/2023_citibike\202311-citibike-tripdata_2.csv
37 Data/2023_citibike\202311-citibike-tripdata_3.csv
38 Data/2023_citibike\202312-citibike-tripdata_1.csv
39 Data/2023_citibike\202312-citibike-tripdata_2.csv
40 Data/2023_citibike\202312-citibike-tripdata_3.csv

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DC1CB984821DFFF7,classic_bike,2023-01-07 15:36:53.430,2023-01-07 15:39:45.406,Vesey St & Church St,5216.06,Albany St & Greenwich St,5145.02,40.712220,-74.010472,40.709267,-74.013247,member
1,C00CA02971557F16,classic_bike,2023-01-04 19:23:01.234,2023-01-04 19:34:57.151,Lispenard St & Broadway,5391.06,St Marks Pl & 1 Ave,5626.13,40.719392,-74.002472,40.727791,-73.985649,member
2,C753AE5EBD8458F9,classic_bike,2023-01-20 09:22:19.894,2023-01-20 10:23:24.255,3 Ave & Schermerhorn St,4437.01,State St & Smith St,4522.07,40.686832,-73.979677,40.689170,-73.988600,member
3,E4415A543C1972A7,classic_bike,2023-01-24 10:38:01.135,2023-01-24 10:41:40.749,E 5 St & Ave A,5626.06,E 1 St & 1 Ave,5593.01,40.724790,-73.984301,40.723356,-73.988650,member
4,BD52A87B215877C7,electric_bike,2023-01-13 10:17:38.192,2023-01-13 10:33:59.099,W 54 St & 11 Ave,6955.05,Washington St & Gansevoort St,6039.06,40.768292,-73.992563,40.739323,-74.008119,member

In [5]:
citibike_df.shape

(35107030, 13)

In [6]:
df_start_station_counts = pd.DataFrame(citibike_df.start_station_name.value_counts())
df_start_station_counts = df_start_station_counts.reset_index()
df_start_station_counts.columns=['start_station_name', 'count']

# top 10
df_start_station_counts.head(10)

        start_station_name   count
0          W 21 St & 6 Ave  139932
1       Broadway & W 58 St  115744
2    West St & Chambers St  110814
3  University Pl & E 14 St  107445
4         11 Ave & W 41 St  107216
5          1 Ave & E 68 St  104947
6       Broadway & W 25 St  102917
7          W 31 St & 7 Ave  102698
8          6 Ave & W 33 St   99761
9       E 17 St & Broadway   98400

In [7]:
top_10_list = list(df_start_station_counts.head(10)['start_station_name'])
print(top_10_list)

['W 21 St & 6 Ave', 'Broadway & W 58 St', 'West St & Chambers St', 'University Pl & E 14 St', '11 Ave & W 41 St', '1 Ave & E 68 St', 'Broadway & W 25 St', 'W 31 St & 7 Ave', '6 Ave & W 33 St', 'E 17 St & Broadway']

In [8]:
df_top_10_start_trip_data = pd.DataFrame(citibike_df[citibike_df['start_station_name'].isin(top_10_list)])
df_top_10_start_trip_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
17,C3540E3D834FFF80,electric_bike,2023-01-22 18:48:51.722,2023-01-22 18:56:08.727,6 Ave & W 33 St,6364.07,2 Ave & E 31 St,6197.02,40.748833,-73.988827,40.742909,-73.977061,member
18,C5564080DDC348D7,classic_bike,2023-01-20 14:41:23.439,2023-01-20 14:47:17.131,6 Ave & W 33 St,6364.07,2 Ave & E 31 St,6197.02,40.749013,-73.988484,40.742909,-73.977061,member
19,01D7ACD6AE19CC69,classic_bike,2023-01-09 09:01:26.183,2023-01-09 09:11:28.461,6 Ave & W 33 St,6364.07,E 47 St & Park Ave,6584.12,40.749013,-73.988484,40.755103,-73.974987,member
20,044C13BF6237E402,classic_bike,2023-01-26 07:22:25.970,2023-01-26 07:30:34.377,6 Ave & W 33 St,6364.07,E 27 St & 1 Ave,6004.06,40.749013,-73.988484,40.739445,-73.976806,member
32,AEB0921D889A58C6,classic_bike,2023-01-05 18:25:23.700,2023-01-05 18:33:45.187,6 Ave & W 33 St,6364.07,2 Ave & E 31 St,6197.02,40.749013,-73.988484,40.742909,-73.977061,member

In [9]:
df_top_10_start_trip_data.shape

(1089874, 13)

In [16]:
df_top_10_start_trip_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1089874 entries, 17 to 203568
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1089874 non-null  object
 1   rideable_type       1089874 non-null  object
 2   started_at          1089874 non-null  object
 3   ended_at            1089874 non-null  object
 4   start_station_name  1089874 non-null  object
 5   start_station_id    1089874 non-null  object
 6   end_station_name    1087501 non-null  object
 7   end_station_id      1087501 non-null  object
 8   start_lat           1089874 non-null  float64
 9   start_lng           1089874 non-null  float64
 10  end_lat             1089142 non-null  float64
 11  end_lng             1089142 non-null  float64
 12  member_casual       1089874 non-null  object
dtypes: float64(4), object(9)
memory usage: 116.4+ MB

In [13]:
df_top_10_start_trip_data.dropna()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
17,C3540E3D834FFF80,electric_bike,2023-01-22 18:48:51.722,2023-01-22 18:56:08.727,6 Ave & W 33 St,6364.07,2 Ave & E 31 St,6197.02,40.748833,-73.988827,40.742909,-73.977061,member
18,C5564080DDC348D7,classic_bike,2023-01-20 14:41:23.439,2023-01-20 14:47:17.131,6 Ave & W 33 St,6364.07,2 Ave & E 31 St,6197.02,40.749013,-73.988484,40.742909,-73.977061,member
19,01D7ACD6AE19CC69,classic_bike,2023-01-09 09:01:26.183,2023-01-09 09:11:28.461,6 Ave & W 33 St,6364.07,E 47 St & Park Ave,6584.12,40.749013,-73.988484,40.755103,-73.974987,member
20,044C13BF6237E402,classic_bike,2023-01-26 07:22:25.970,2023-01-26 07:30:34.377,6 Ave & W 33 St,6364.07,E 27 St & 1 Ave,6004.06,40.749013,-73.988484,40.739445,-73.976806,member
32,AEB0921D889A58C6,classic_bike,2023-01-05 18:25:23.700,2023-01-05 18:33:45.187,6 Ave & W 33 St,6364.07,2 Ave & E 31 St,6197.02,40.749013,-73.988484,40.742909,-73.977061,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
203534,2D47476581D41E43,classic_bike,2023-12-15 18:19:30.044,2023-12-15 18:27:27.468,West St & Chambers St,5329.03,Christopher St & Greenwich St,5847.01,40.717548,-74.013221,40.732916,-74.007114,member
203543,60FDE0DA18B7BFFF,classic_bike,2023-12-12 07:40:19.092,2023-12-12 07:47:19.645,West St & Chambers St,5329.03,Christopher St & Greenwich St,5847.01,40.717548,-74.013221,40.732916,-74.007114,member
203547,E1E3B48FDD7EFC0B,classic_bike,2023-12-31 11:23:27.825,2023-12-31 11:39:10.993,West St & Chambers St,5329.03,Lafayette St & E 8 St,5788.13,40.717548,-74.013221,40.730207,-73.991026,member
203558,8C723D09AE704CFD,electric_bike,2023-12-22 19:35:16.997,2023-12-22 19:43:23.896,West St & Chambers St,5329.03,Christopher St & Greenwich St,5847.01,40.717450,-74.013256,40.732916,-74.007114,member
203568,0FEEF19EA40A0944,classic_bike,2023-12-02 10:03:59.088,2023-12-02 10:43:30.392,West St & Chambers St,5329.03,E 22 St & 2 Ave,5971.09,40.717548,-74.013221,40.737169,-73.981225,member

In [18]:
file = 'Resources/2023_citibike_tripdata_top10_start_station.csv'
df_top_10_start_trip_data.to_csv(file, header=True, index=False)